node_modules
menu*
.DS_Store
geo*
# vue-client/src/data
sales_system_db_menu
sales_system_db_geo
printing/header/
server/src/repositories/printOrder/bills/
server/src/repositories/printHistory/statements/
server/init.sql
new-server
*streets.js
dumps/*


// modify later
dumps/latest/customers.sql
dumps/latest/items.sql
server/docker-compose.yml
server/init_default.sql
server/src/database/db.sql
server/src/repositories/printOrder/header.png
sh/create-database-dumps.sh
sh/pos-server.sh

vue-client/src/components/Menu/images/
